* {box-sizing: border-box;}

body {
  margin: 0;
}

header nav {
  overflow: hidden;
  float: none;
  display: block;
  margin: 0;
  padding: 12px;
  background-color: #ddd;
}

aside {
  float: left;
  width: 25%;
  padding: 10px;
}

main {
  float: none;
  width: 75%;
  padding: 5px;
}
